// Banner
section.banner {
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100%;
  padding: 0;
  height: auto;
  background: transparent;
  //background-image: url('/img/banner.jpg');
  //background-position: center;
  //background-size: 100%;
  box-shadow: 0 12px 20px black;
  img {
    width: 100%;
    box-shadow: 0 12px 20px black;
  }
}

@media (min-width: 961px) {
  section.banner {
    img {
      display: block;
    }
  }
}

@media (max-width: 960px) {
  section.banner {
    height: 280px;
    background-image: url('/img/banner.jpg');
    background-position: center;
    background-size: auto 280px;
    img {
      display: none;
    }
  }
}
@media (max-width: 480px) {
  section.banner {
    height: 180px;
    background-image: url('/img/banner.jpg');
    background-position: center;
    background-size: auto 180px;
    img {
      display: none;
    }
  }
}

.headroom--top {
  top:0;
}
