// Banner
section.banner {
  width: 100%;
  padding: 0;
  height: 280px;
  background-image: url('/img/banner.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 12px 20px black;
  img {
    width: 100%;
    box-shadow: 0 12px 20px black;
  }
}

@media (min-width: 961px) {

}

@media (max-width: 960px) {
  section.banner {
    height: 280px;
  }
}
