.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
}
  // When fading in the modal, animate it to slide down
.modal.fade .modal-dialog {
  @include translate(0, -25%);
  @include transition-transform("0.3s ease-out");
}
.modal.in .modal-dialog { @include translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

// Modal background
.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #eee;
}
  // Fade for backdrop
.modal-backdrop.fade { @include opacity(0); }
  
.modal-backdrop.in { @include opacity(.5); }

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (min-width: 480px) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    width: 100%;
    margin: 120px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

  // Modal sizes
  .modal-sm { width: 300px; }
}

@media (min-width: 960px) {
  .modal-lg { width: 600px; }
}