.fc.btn {
	padding: 10px 20px;
	min-width: 40px;
	min-height: 20px;
	font-size: 1.5em;
	background-color: transparent;
	display: inline-block;
	border-radius: 2px;
	margin-right: 15px;
	text-align: center;
}

.fc.btn.red-o {
	color: $red;
	border: 2px solid $red;
}