.fc.btn {
	padding: 10px 20px;
	min-width: 40px;
	min-height: 20px;
	font-size: 1.5em;
	background-color: transparent;
	display: inline-block;
	border-radius: 2px;
	margin-right: 15px;
	text-align: center;
}

.fc.btn.red-o {
	color: $red;
	border: 2px solid $red;
	box-shadow: 0 0 0 $red;
}

.fc.btn.white-o {
	color: white;
	border: 2px solid white;
	box-shadow: 0 0 0 white;
}

.fc.btn.red-o:hover {
	@include transform(box-shadow, .28s);
	box-shadow: 0 0 5px lighten($red, 10%);
	cursor: pointer;
}

.fc.btn.red-o:active {
	@include transform(box-shadow, .18s);
	box-shadow: 0 0 15px lighten($red, 25%);
	cursor: pointer;
}

.fc.btn.white-o:hover {
	@include transform(color, .18s);
	@include transform(border, .08s);
	border: 2px solid $light_red;
	color: $light_red;
	cursor: pointer;
}

.fc.btn.white-o:active {
	@include transform(color, .18s);
	@include transform(border, .18s);
	border: 2px solid lighten($light_red, 10%);
	color: lighten($light_red, 10%);
	cursor: pointer;
}