.fc {
  section.info {
    padding: 90px 100px;
    .timeline {
      // 分3栏
      [class^='col-'] {
        display: inline-block;
        vertical-align: top;
        h3.title {
          font-size: $title_size;
          font-weight: bold;
          color: $red;
        }
        .tab {
          display: block;
          margin-bottom: 28px;
        }
        .time {
          color: white;
          font-size: 1.3em;
          p {
            font-size: inherit;
          }
        }
      }
    }
    .divider {
      margin-left: 30px;
      margin-right: 50px;
    }
    .article {
      float: right;
    }
  }
}

@media (min-width: 961px) {
  .fc {
    section.info {
      .timeline {
        float: left;
        width: 360px;
        [class^='col-'] {
          width: 100px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .fc {
    section.info {
      padding: 50px 90px;
      .timeline {
        width: 100%;
        display: block;
        [class^='col-'] {
          width: 30%;
        }
      }
    }
  }
}


@media (max-width: 380px) {
  .fc {
    section.info {
      padding: 20px 10%;
      .timeline {
        width: 100%;
        display: block;
        [class^='col-'] {
          width: 30%;
        }
      }
    }
  }
}