html {
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-color: #000;
}

body {
	margin: 0;
}

@media (max-width: 960px) {
	html {
		font-size: 10px;
	}
}

*:before, *:after {
	box-sizing: border-box;
}

// 颜色变量
$red: #e13030;

// 样式变量
$title_size: 2em;

@import 'container';
@import 'banner';
@import 'info';
@import 'button';
